# Valeurs de configuration de l'importer
# DOWNLOAD_URL=https://files.opendatarchives.fr/professionnels.ign.fr/parcellaire-express/PCI-par-DEPT_2022-01/
DOWNLOAD_URL=https://wxs.ign.fr/vxlh30ais2rjyt2nb4ivupn2/telechargement/prepackage
MAX_PARALLEL_DL=4
TEST_IMPORTER=0

# Valeurs de configuration de la base de données
POSTGRES_VERSION=14
POSTGIS_VERSION=3
POSTGRES_HOST=parcellaire-postgis
POSTGRES_DB=parcellaire-express
POSTGRES_PORT=5432
POSTGRES_USER=parcellaire
POSTGRES_PASSWORD=p@5$w0rd
POSTGRES_SCHEMA=edition222

# Valeurs de configuration de l'API
API_PORT=8010
# A positive number. '0' means disabled.
MAX_FEATURE=1000

# The url path to the viewer
# Empty value or do not define to disable
VIEWER_URL=/viewer
